.navegador-revendedor{
    background-color: #f9060665;
    text-align: center;
    color:#6f6170;
    font-family: $fontMontserrat;
    font-weight: 600;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    margin-inline-start: 10px;
    padding: 20px;
    text-decoration: none;

}

